* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #ffffff;
  --secondary-color: #f0f0f0;
  --card-back: rgb(255, 230, 242);
}

body {
  font-family: "Cairo", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.container {
  padding-left: 200px;
  padding-right: 200px;
  margin-left: auto;
  margin-right: auto;
}
/* start header */
.header {
  width: 100%;
  background-color: var(--main-color);
}
.header .container .head span {
  color: rgb(84, 84, 253);
}
.header .container .head ul {
  display: flex;
  list-style: none;
}
.header .container .head ul li {
  padding: 30px 20px;
  transition: 0.3s;
}
.header .container .head ul li:hover {
  color: rgb(84, 84, 253);
}
@media (max-width: 991px) {
  .header .container .head ul {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 667px) {
  .header .container .head ul {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
  }
}
@media (max-width: 667px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .header .container .head ul li {
    padding: 10px 15px;
  }
}
@media (max-width: 480px) {
  .header .container .head ul {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .header .container .head ul li {
    padding: 10px 5px;
  }
}
/* end header */
/* start Home */
.home .container .m-img {
  margin: 50px 0px;
  height: 700px;
  background-image: url(office.jpg);
  background-size: cover;
  border-radius: 50px;
  display: flex;
  align-items: center;
}
.home .container .form {
  padding: 30px;
  color: #ffffff;
}
.home .container .form h3 {
  font-size: 80px;
}
.home .container .form p {
  margin-top: 20px;
  font-size: 20px;
}
.home .container .form .c-form {
  font-size: 90px;
  background-color: var(--secondary-color);
  padding: 15px;
  border-radius: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  height: 80px;
}
.home .container .form .c-form input {
  width: 300px;
  margin: 5px;
  padding: 10px 3px;
  border: none;
  border-radius: 10px;
}
.home .container .form .c-form button {
  padding: 10px 20px;
  background-color: black;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  transition: 0.3s;
}
.home .container .form .c-form button:hover {
  scale: 0.9;
}
@media (max-width: 991px) {
  .home .container .form {
    padding: 5px;
  }
  .home .container .form p {
    width: 200px;
  }
  .home .container .form .c-form input {
    width: 200px;
  }
}
@media (max-width: 667px) {
  .home .container .form {
    padding: 5px;
  }
  .home .container .form p {
    width: 200px;
  }
  .home .container .form .c-form input {
    width: 200px;
  }
}
@media (max-width: 480px) {
  .home .container .form .c-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 110px;
  }
  .home .container .form .c-form input {
    width: 100%;
    text-align: center;
  }
  .home .container .form .c-form button {
    width: 100%;
  }
}

/* end Home */
/* start agent */
.agent .container .title h1 {
  margin-top: 70px;
  font-size: 50px;
}
.agent .container .title p {
  margin-top: 30px;
  font-size: 25px;
}
.agent .container .title button {
  margin: 30px 0;
  padding: 15px 20px;
  border: none;
  background-color: black;
  color: #ffffff;
  border-radius: 20px;
  font-size: 20px;
  transition: 0.3s;
}
.agent .container .title button:hover {
  scale: 0.9;
}
.agent .container .f-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.agent .container .f-card .card {
  width: 379px;
  height: 350px;
  padding: 30px;
  background-color: var(--card-back);
  text-align: center;
  border-radius: 30px;
}
.agent .container .f-card .card img {
  width: 200px;
  height: 200px;
  margin: 10px 30px;
  border-radius: 50%;
}
.agent .container .f-card .card h2 {
  margin-top: 30px;
}
@media (max-width: 991px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  .agent .container .f-card .card {
    width: 320px;
    height: 300px;
  }
  .agent .container .f-card .card img {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 480px) {
  .agent .container .f-card .card {
    width: 100%;
    height: 250px;
  }
  .agent .container .f-card .card img {
    width: 130px;
    height: 130px;
  }
  .agent .container .f-card .card h2 {
    margin-top: 15px;
    font-size: 20px;
  }
}
/* end agent */
/* start about */
.about .container .title h1 {
  margin-top: 60px;
  font-size: 50px;
}
.about .container .title p {
  margin-top: 20px;
  font-size: 20px;
}
.about .container .siction {
  display: flex;
  margin: 30px 0;
}
.about .container .siction img {
  width: 49.5%;
  border-radius: 30px;
  margin-right: 5px;
}
.about .container .siction .text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px;
  margin-left: 5px;
  background-color: var(--secondary-color);
  border-radius: 30px;
  width: 49.5%;
}
.about .container .siction .text .s-text {
  padding: 30px;
  font-size: 20px;
}
.about .container .siction .text .s-text i {
  margin-bottom: 20px;
  font-size: 45px;
}
.about .container .siction .text .s-text h4 {
  margin-top: 30px;
}
@media (max-width: 991px) {
  .about .container .siction {
    width: 600px;
  }
  .about .container .siction img {
    width: 200px;
  }
  .about .container .siction .text .s-text {
    width: 400px;
  }
}
@media (max-width: 667px) {
  .about .container .siction {
    display: flex;
    flex-direction: column;
  }
  .about .container .siction .text {
    display: flex;
    flex-direction: column;
    width: 400px;
  }
  .about .container .siction img {
    width: 400px;
  }
  .about .container .siction .text .s-text {
    width: 250px;
  }
}
@media (max-width: 480px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .about .container .siction {
    width: 100%;
  }
  .about .container .siction img {
    width: 100%;
    margin-bottom: 10px;
  }
  .about .container .siction .text {
    width: 100%;
  }
  .about .container .siction .text .s-text {
    width: 100%;
  }
}
/* end about */
/* start need */
.need .container .siction {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
.need .container .siction .text {
  border-radius: 30px;
  padding: 30px;
  background-color: var(--secondary-color);
  width: 49.5%;
}
.need .container .siction .text h1 {
  font-size: 55px;
}
.need .container .siction .text p {
  margin-top: 20px;
  font-size: 20px;
}
.need .container .siction .contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 30px;
  border-radius: 30px;
  width: 49.5%;
}
.need .container .siction .contact p:nth-child(1) {
  padding: 20px;
  border: 1px black solid;
  margin: 0 30px;
  border-radius: 20px;
  font-size: 20px;
  transition: 0.3s;
}
.need .container .siction .contact p:nth-child(2) {
  padding: 20px;
  background-color: black;
  color: #ffffff;
  margin: 0 30px;
  border-radius: 20px;
  font-size: 20px;
  transition: 0.3s;
}
.need .container .siction .contact p:hover {
  scale: 0.9;
}
@media (max-width: 991px) {
  .need .container .siction {
    display: flex;
    flex-direction: column;
  }
  .need .container .siction .text {
    margin: 20px;
  }
  .need .container .siction .contact p:nth-child(1) {
    font-size: 15px;
  }
  .need .container .siction .contact p:nth-child(2) {
    font-size: 15px;
  }
}
@media (max-width: 667px) {
  .need .container .siction .text h1 {
    font-size: 20px;
  }
  .need .container .siction .contact {
    width: 350px;
  }
}
@media (max-width: 480px) {
  .need .container .siction {
    width: 100%;
  }
  .need .container .siction .text {
    width: 100%;
    margin: 5px;
    padding: 15px;
  }
  .need .container .siction .contact {
    width: 100%;
    padding: 15px;
  }
  .need .container .siction .contact p:nth-child(1) {
    padding: 10px;
    text-align: center;
  }
  .need .container .siction .contact p:nth-child(2) {
    padding: 18px;
  }
}
/* end need */
/* start footer */
.footer {
  background-color: black;
  color: #ffffff;
}
.footer .container p {
  padding: 30px 0;
  text-align: center;
}
/* end footer */
